/* pop up form  */
.add-form-container {
  text-align: center;
  width: 50%;
  background-color: #fff;
  padding: 60px 0px 10px 0px;
  border-radius: 60px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  display: none;
}
.add-form-container.active {
  display: flex;
  justify-content: center;
  
}

.content-hider {
  width: 100vw;
  height: 100vh;
  background-color: #060606;
  opacity: 41%;
  display: none;
  position: absolute;
  top: 0;
  left: 0;
}
.content-hider.active {
  display: block;
}
.fa-times-circle {
  float: right;
}
.form-title {
  clear: right;
  margin-bottom: 25px;
  font-size: 20px;
}
.add-form {
  width: 90%;
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
  margin-left: 5%;
  margin-right: 5%;
}
.btns {
  display: flex;
  justify-content: space-around;
  width: 60%;
  align-self: center;
  padding-bottom: 20px;
}
.link {
  color: hsl(205, 88%, 13%);
  font-size: 16px;
  cursor: pointer;
  padding-top: 10px;
}
.link:hover {
  font-size: 18px;
  padding-top: 2;
  transition: all 0.5s ease;
}
.popup-form-container {
  width: 80%;
  margin: 10px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

  .close {
    position: absolute;
    right: 35px;
    top: 15px;
    font-size: 40px;
    font-weight: bold;
    color: #d6d4d4;
  }
  
  .close:hover,
  .close:focus {
    color: hsl(205, 88%, 13%);
    cursor: pointer;
  }
  .footer{
    height: 290px;
    display: flex;
    flex-direction:column;
    background-color:#04263F ;
    justify-content: center;
    align-items: center;
    color :white;
    position:absolute;
    bottom:0;
    width: 100%;
  }
  .footer-com{
    display: flex;
    flex-direction: column;
    align-items: center;
  
  }
  
.whoweare{
  color:white;
  display: flex;
  justify-content: space-around;
  width: 100%;

  
}
.whowearep{
  color:white;
  display: flex;
  flex-direction: column;
  width: 50%;
  padding:200px 60px 0px 60px;
  

}
.whowearep p{
  
  font-size: 25px;

}
.whowearep h1{
  
  font-size: 40px;

}
.whoweareimg{

  height: 50%;

}
.imgproduct{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
cursor: pointer;
font-weight: bolder;

  
}
.imgproduct img{
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
cursor: pointer; 
}
.imgproduct:hover{
  background-color: #d3d3d4;
  
}
.border{
  display: flex;
  justify-content: space-around;
  width: 100%;
  
}
.arrow{
  height: 50px;
  width: 50px;
  border-radius: 100%;
  background-color: #04263F; 
  display: flex;
  justify-content: center;
  align-self: center;
  align-items: center;
  color: #fff;
  font-size: 20px;
  cursor: pointer;
}
