.add-form-container {
  text-align: center;
  width: 50%;
  background-color: #fff;
  padding: 60px 0px 10px 0px;
  border-radius: 60px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  display: none;
}
.add-form-container.active {
  display: inline;
}

.content-hider {
  width: 100vw;
  height: 100vh;
  background-color: #060606;
  opacity: 41%;
  display: none;
  position: absolute;
  top: 0;
  left: 0;
}
.content-hider.active {
  display: block;
}
.fa-times-circle {
  float: right;
}
.form-title {
  clear: right;
  margin-bottom: 25px;
  font-size: 20px;
}
.add-form {
  width: 90%;
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
  margin-left: 5%;
  margin-right: 5%;
}
.btns {
  display: flex;
  justify-content: space-around;
  width: 90%;
  align-self: center;
  padding-bottom: 20px;
}
.link {
  color: hsl(205, 88%, 13%);
  font-size: 16px;
  cursor: pointer;
  padding-top: 10px;
}
.link:hover {
  font-size: 18px;
  padding-top: 2;
  transition: all 0.5s ease;
}
.add-form input::placeholder {
  text-align: center;
}
.popup-form-container {
  width: 100%;
  margin: 10px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}
.close {
  position: absolute;
  right: 35px;
  top: 15px;
  font-size: 40px;
  font-weight: bold;
  color: #d6d4d4;
}

.close:hover,
.close:focus {
  color: hsl(205, 88%, 13%);
  cursor: pointer;
}

/* Footer */
.footer-com {
  height: 20vh;
  display: flex;
  flex-direction: column;
  background-color: #04263f;
  justify-content: center;
  align-items: center;
  color: white;
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
}
